<div class="nav-scrollable">
    <div class="sidebar sidebar-dark accordion bg-gradient-primary p-0" style="color: var(--bs-blue); background: var(--bs-green);">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img class="img-fluid" src="assets/img/avatars/Logo%20agrolifenet.png" width="55" style="transform: rotate(15deg);" />
                </div>
                <div class="sidebar-brand-text mx-3"><span>Agrolifenet</span></div>
            </a>
            <hr class="sidebar-divider my-0" />
            <nav class="flex-column" id="accordionSidebar">
                <div class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="fas fa-home fa-2x1"></i> <span>Inicio</span>
                    </NavLink>
                </div>

                <div class="nav-item">
                    <AuthorizeView  Roles="@($"{Cargo.Administrador},{Cargo.Asendado}")">
                        <NavLink class="nav-link" href="animal">
                            <img class="img-fluid" src="assets/img/Icono/animales%20de%20granja.png" width="25" style="color: rgb(247,243,243); background: rgba(255,255,255,0); border-color: rgb(247,243,243); filter: brightness(200%) contrast(200%) grayscale(100%) hue-rotate(360deg) invert(100%) saturate(200%) sepia(100%); transform: translate(-4px) scale(0.85);" />
                            <span>Registro de Animal </span>
                        </NavLink>
                    </AuthorizeView>

                </div>
                <div class="nav-item">
                  @*   <AuthorizeView  Roles="@Cargo.Administrador">
                        <NavLink class="nav-link" href="CrearCuenta">
                            <i class="fas fa-user-circle"></i> <span>Registrar Usuario</span>
                        </NavLink>
                    </AuthorizeView> *@
                </div>
                <div class="nav-item">
                    <AuthorizeView  Roles="@($"{Cargo.Administrador},{Cargo.Veterinario}")">
                        <NavLink class="nav-link" href="HistorialClinico">
                            <i class="fas fa-stethoscope"></i> <span>Historial Clínico</span>
                        </NavLink>
                        </AuthorizeView>
                   
                </div>
                <div class="nav-item">
                    <AuthorizeView  Roles="@($"{Cargo.Administrador},{Cargo.Asendado}")">
                        <NavLink class="nav-link" href="Ventas">
                            <i class="fa fa-dollar"></i> <span>Ventas</span>
                        </NavLink>
                    </AuthorizeView>                  
                </div>

                <div class="nav-item">
                    <AuthorizeView  Roles="@($"{Cargo.Administrador}")">
                        <NavLink class="nav-link" href="Cargos">
                            <i class="fa fa-users"></i> <span>Cargos</span>
                        </NavLink>
                    </AuthorizeView>                   
                </div>
            </nav>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </div>
</div>