

<BaseFormularioComponente NommbreFormulario="Información de Ganado"
                          NommbreEncabezadoDetalle="Ver Ganado Registrado"
                          Modelo="ganadoGuardaryActualizarDto"
                          TModelo="GanadoGuardaryActualizarDto"
                          Ejecutar="GuardarGanado">
    <ContenidoFormulario>
        <div class="row g-3 mb-3">
            <div class="col-2 col-auto"><label class="col-form-label">Tipo Animal</label></div>
            <div class="col-3">
                <CbxTipoAnimal @bind-IdTipoAnimal="ganadoGuardaryActualizarDto.IdTipoAnimal"></CbxTipoAnimal>
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.IdTipoAnimal)" />
            </div>
            <div class="col-2 col-auto"><label class="col-form-label">Tipo Raza</label></div>
            <div class="col-2">
                <CbxRaza @bind-IdRaza="ganadoGuardaryActualizarDto.IdRaza"></CbxRaza>
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.IdRaza)" />
            </div>
            <div class="col d-flex d-xl-flex justify-content-start align-items-center">
                <InputRadioGroup @bind-Value="@ganadoGuardaryActualizarDto.SexoGanado">
                    @foreach (var sexo in (Sexo[])Enum.GetValues(typeof(Sexo)))
                    {
                        <label>
                            <InputRadio Value="@sexo.ToString()" class="form-check-input" /> @sexo
                        </label>
                        <br />
                    }
                </InputRadioGroup>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-2"><label class="col-form-label"># Chip</label></div>
            <div class="col-3 col-auto">
                <input type="text" class="form-control" placeholder="123456" @bind-value="ganadoGuardaryActualizarDto.NumerodelchipGanado">
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.NumerodelchipGanado)" />
            </div>
            <div class="col-2 col-auto"><label class="col-form-label">Color</label></div>
            <div class="col-2 col-auto">
                <input type="color" class="form-control" @bind-value="ganadoGuardaryActualizarDto.ColorGanado">
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.ColorGanado)" />
            </div>
            <div class="col-3 d-flex justify-content-start align-items-center">
                <div class="form-check form-switch">
                    <InputCheckbox @bind-Value="ganadoGuardaryActualizarDto.EstadoGanado" class="form-check-input" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-12 col-md-6">
                <label class="col-form-label"># Chip Padre</label>
                <CbxGanado @bind-IdGanado="ganadoGuardaryActualizarDto.IdpadreGanado" Sexo=" Sexo.Macho"></CbxGanado>
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.IdpadreGanado)" />
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label"># Chip Madre</label>
                <CbxGanado @bind-IdGanado="ganadoGuardaryActualizarDto.IdmadreGanado" Sexo=" Sexo.Hembra"></CbxGanado>
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.IdmadreGanado)" />
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-12 col-md-3">
                <label class="col-form-label">Lugar De Nacimiento</label>
                <select class="form-select" @bind="ganadoGuardaryActualizarDto.LugardenacimientoGanado">
                    @foreach (var lugarNacimiento in (LugarNacimiento[])Enum.GetValues(typeof(LugarNacimiento)))
                    {
                        <option value="@lugarNacimiento.ToString()">@lugarNacimiento</option>
                    }
                </select>
                <ValidationMessage For="@(() => ganadoGuardaryActualizarDto.LugardenacimientoGanado)" />
            </div>
            <div class="col-12 col-md-9">
                <label class="col-form-label">Fecha Nacimiento</label>
                <div class="input-group">
                    <InputDate class="form-control" @bind-Value:get="ganadoGuardaryActualizarDto.FechadenacimientoGanado" @bind-Value:set="CalcularEdad" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span class="input-group-text">Edad</span>
                    <span class="input-group-text">@ganadoGuardaryActualizarDto.EdadGanado</span> <span class="input-group-text">Año(s)</span>
                    <span class="input-group-text">Peso De Nacido</span>
                    <InputNumber @bind-Value="ganadoGuardaryActualizarDto.PesoNacido" class="form-control" />
                </div>
                <ValidationMessage class="validation-message" For="@(() => ganadoGuardaryActualizarDto.FechadenacimientoGanado)" />
                <ValidationMessage class="validation-message" For="@(() => ganadoGuardaryActualizarDto.PesoNacido)" />
            </div>           
        </div>
        <div class="row g-3 mb-3">
            <div class="col-12">
                <label class="form-label">
                    <strong>Engendrado</strong>
                </label>
                <div class="input-group">
                    <select @bind="@ganadoGuardaryActualizarDto.IdReproduccion" class="form-select">
                        @foreach (var TipoReproductor in Enum.GetValues(typeof(TipoReproduccion)).Cast<TipoReproduccion>())
                        {
                            <option value="@((int)TipoReproductor)">
                                @TipoReproductor
                            </option>
                        }
                    </select>
                    <span class="input-group-text">Estado De Nacido</span>
                    <select @bind="@ganadoGuardaryActualizarDto.EstdoNacido" class="form-select">
                        @foreach (var estadoNacido in Enum.GetValues(typeof(EstadoNacido)).Cast<EstadoNacido>())
                        {
                            <option value="@((int)estadoNacido)">
                                @estadoNacido
                            </option>
                        }
                    </select>
                    <button class="btn btn-success" type="submit">Agregar&nbsp;<i class="fa fa-plus-circle"></i></button>
                </div>
                <ValidationMessage class="validation-message" For="@(() => ganadoGuardaryActualizarDto.IdReproduccion)" />
                <ValidationMessage class="validation-message" For="@(() => ganadoGuardaryActualizarDto.EstdoNacido)" />
            </div>
        </div>
    </ContenidoFormulario>
    <ContenidoDetalle>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length-2" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">
                            Mostrar&nbsp;
                            <select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter-2"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Buscar"></label></div>
                </div>
            </div>
            @if (listarGanadoDtos == null)
            {
                <p>Cargando datos...</p>
            }
            else if (listarGanadoDtos.Any())
            {
                <div class="table-responsive table mt-2" id="dataTable-3" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th># Chip</th>
                                <th>Tipo Animal</th>
                                <th>Tipo Raza</th>
                                <th>Edad</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listarGanadoDtos)
                            {
                                <tr>
                                    <td>@item.NumerodelchipGanado</td>
                                    <td>@item.Tiposdeanimal</td>
                                    <td>@item.Tipoderaza<br></td>
                                    <td>@item.EdadGanado<br></td>
                                    <td>@(item.EstadoGanado == false ? "Inactivo" : "Activo")</td>
                                    <td class="text-center"><a class="link-success me-2" @onclick="() => ActualizarGanado(item.IdGanado)"><i class="fa fa-edit"></i></a><a class="link-success link-primary" @onclick="() => EliminarGanado(item.IdGanado)"><i class="fa fa-remove"></i></a></td>                                    
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>
            }
           
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info-2" class="dataTables_info" role="status" aria-live="polite">Mostrando1 a 10 de 27</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <nav class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </ContenidoDetalle>
</BaseFormularioComponente>