@using Agrolifenet.FrontEnd.Modelos
<BaseFormularioComponente NommbreFormulario="Crear Historial Clínico"
                          NommbreEncabezadoDetalle="Ver Ganado Registrado"
                          Modelo="historialClinicoGuardar_Actualizar"
                          TModelo="HistorialClinicoGuardar_Actualizar"
                          Ejecutar="GuardarHistorialClinico">
    <ContenidoFormulario>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label"><strong>Usuario</strong></label>
                    <InputText @bind-Value="@historialClinicoGuardar_Actualizar.NombreUsuario" class="form-control"
                               readonly="" />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="email"><strong># de chip</strong></label>
                    <CbxGanado IdGanado="historialClinicoGuardar_Actualizar.IdGanado" IdGanadoChanged="GanadoSeleccionado"></CbxGanado>
                    <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.IdGanado)" />
                </div>
            </div>
        </div>
        @if (true)
        {
           
        }
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label"><strong>Peso al nacer</strong></label>
                    <InputNumber @bind-Value="@historialClinicoGuardar_Actualizar.PesoalnacerHistorialClinico" class="form-control" readonly="" />
                    <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.PesoalnacerHistorialClinico)" />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label"><strong>Peso actual</strong></label>
                    <div class="input-group">
                        <InputNumber class="form-control" @bind-Value:get="historialClinicoGuardar_Actualizar.PesoactualHistorialClinico" @bind-Value:set="CalcularPeso" />
                        <span class="input-group-text">Ganancia Peso</span>
                        <span class="input-group-text">@historialClinicoGuardar_Actualizar.GananciadepesodiariaHistorialClinico</span> <span class="input-group-text">Libras(s)</span>
                    </div>
                    <ValidationMessage class="validation-message" For="@(() => historialClinicoGuardar_Actualizar.PesoactualHistorialClinico)" />
                </div>
            </div>
        </div>
        <div class="mb-3">
            @if (ganadoDto.SexoGanado == Sexo.Hembra.ToString())
            {
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>
                                    Numero de
                                    partos&nbsp;
                                </strong>
                            </label>
                            <InputNumber class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.NumerodepartosHistorialClinico" />
                            <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.NumerodepartosHistorialClinico)" />
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Vacunas</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.VacunaHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.VacunaHistorialClinico)" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Enfermedades</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.EnfermedadesHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.EnfermedadesHistorialClinico)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>resultado de pruebas</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.ResultadodeExamenesHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.ResultadodeExamenesHistorialClinico)" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Desparasitantes</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.InformaciondesparacitacionHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.InformaciondesparacitacionHistorialClinico)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Tratamientos</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.TratamientoHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.TratamientoHistorialClinico)" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Estado de salud</strong>
                        </label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.EstadodesaludHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.EstadodesaludHistorialClinico)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Seguimiento</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.SeguimientoHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.SeguimientoHistorialClinico)" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label"><strong>Observaciones</strong></label>
                        <InputTextArea class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.ObservacionesHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.ObservacionesHistorialClinico)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Costo de tratamiento</strong>
                        </label>
                        <InputNumber class="form-control" @bind-Value="@historialClinicoGuardar_Actualizar.CostodeltratamientoHistorialClinico" />
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.CostodeltratamientoHistorialClinico)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Engendrado</strong>
                        </label>
                        <select @bind="@historialClinicoGuardar_Actualizar.IdDatosdeReproduccion" class="form-select">
                            @foreach (var TipoReproductor in Enum.GetValues(typeof(TipoReproduccion)).Cast<TipoReproduccion>())
                            {
                                <option value="@((int)TipoReproductor)">
                                    @TipoReproductor
                                </option>
                            }
                        </select>
                        <ValidationMessage For="@(() => historialClinicoGuardar_Actualizar.CostodeltratamientoHistorialClinico)" />
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-sm" type="submit">Guardar Cambios</button>
        </div>
    </ContenidoFormulario>
</BaseFormularioComponente>